{% extends 'base.html' %}

{% block title %}
Notes Login
{% endblock %}

{% block header %}
<h1 class="text-center">Login</h1>
{% endblock %}

{% block content %}
    <form class='form-group' method='POST'>
        <!--add type=hidden form fields -->
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' %}
    
        <p>
            {{ field.label }}:
            {{ field(class='form-control') }}
            
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>
    
        {% endfor %}
    
        <button class='btn btn-primary' type='submit'>Submit</button>
    </form>
{% endblock %}