{% extends 'base.html' %}

{% block title %}
Flask Notes
{% endblock %}

{% block header %}
    <h1 class="text-center">Register!</h1>
{% endblock %}


{% block content %}

    <div>
        <a href="/login" class="badge badge-pill badge-primary">Login</a>
    </div>

    <form action="/register" class="form-group mt-4" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            {{ field.label }}
            {{ field(class="form-control") }}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-2 rounded">Submit</button>

    </form>

{% endblock %}